In [12]:
import pandas as pd 
import lxml

In [154]:
movie = pd.read_csv('movies.csv')
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [155]:
import subprocess
import sys
def install(package):
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])
install('lxml')

In [62]:
ratings = pd.read_csv('ratings.csv')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [117]:
ratings[ratings.rating == 5.0].groupby(by=['movieId']).count().sort_values(by='rating').tail(1)['movieId']

         userId  rating  timestamp
movieId
318       39553   39553      39553

In [97]:
power = pd.read_csv('power.csv')
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [145]:
power[((power['country'] == 'Latvia')|(power['country'] == 'Estonia')|(power['country'] == 'Lithuania'))&((power['category'] == 4)|(power['category'] == 12)|(power['category'] == 21))&((power['year'] == 2005)|(power['year'] == 2006)|(power['year'] == 2007)|(power['year'] == 2008)|(power['year'] == 2009)|(power['year'] == 2010))&(power['quantity'] > 0)].groupby('country').sum()['quantity']

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64

In [8]:
import pandas as pd 
import lxml
table = pd.read_html('https://fortrader.org/quotes')
table[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  90.45       0.01          0.01        NaN
1       USDRUB Курс рубля к доллару  76.60       0.00          0.00        NaN