In [1]:
import pandas as pd

/home/odyssey/.local/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
raw = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', header=None, na_values='?')
raw.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
data = raw[[0, 1, 3, 4, 11, 18, 19, 22]].rename(columns={0:'surgery', 1:'age', 3:'temperature',
                                                         4:'pulse', 11:'pain', 18:'cell',                                                                      19:'protein', 22:'outcome'})
#data.age = data.age.astype(str)
#data.surgery = data.surgery.astype(str)
#data.pain = data.pain.astype(str)
#data.outcome = data.outcome.astype(str)

data.temperature = data.temperature.astype(float)
data.pulse = data.pulse.astype(float)
data.cell = data.cell.astype(float)
data.protein = data.protein.astype(float)
data.head()

   surgery  age  temperature  pulse  pain  cell  protein  outcome
0      2.0    1         38.5   66.0   4.0  45.0      8.4      2.0
1      1.0    1         39.2   88.0   4.0  50.0     85.0      3.0
2      2.0    1         38.3   40.0   3.0  33.0      6.7      1.0
3      1.0    9         39.1  164.0   4.0  48.0      7.2      2.0
4      2.0    1         37.3  104.0   NaN  74.0      7.4      2.0

In [4]:
data.describe()

,surgery,age,temperature,pulse,pain,cell,protein,outcome
count,299.000000,300.000000,240.000000,276.000000,256.000000,271.000000,267.000000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,2.917969,46.295203,24.456929,1.551839
std,0.490305,2.173972,0.732289,28.630557,0.976744,10.419335,27.475009,0.737187
min,1.000000,1.000000,35.400000,30.000000,1.000000,23.000000,3.300000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,3.000000,38.000000,6.500000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,3.000000,45.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,4.000000,52.000000,57.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,4.000000,75.000000,89.000000,3.000000

In [5]:
data[data['age'] == '1'].describe()

       surgery  age  temperature  pulse  pain  cell  protein  outcome
count      0.0  0.0          0.0    0.0   0.0   0.0      0.0      0.0
mean       NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
std        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
min        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
25%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
50%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
75%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
max        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN

In [6]:
data[data['age'] == '2'].describe()

       surgery  age  temperature  pulse  pain  cell  protein  outcome
count      0.0  0.0          0.0    0.0   0.0   0.0      0.0      0.0
mean       NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
std        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
min        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
25%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
50%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
75%        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN
max        NaN  NaN          NaN    NaN   NaN   NaN      NaN      NaN

In [7]:
"""Мы видим что у нас нету молодых лошадей в датасете из-за этого можно заменить все значения в столбце age равные 9 на 1"""
data.age = data.age.replace('9', '1')

In [8]:
def emissions(data):
    q1 = data.quantile(0.25)
    q3 = data.quantile(0.75)
    iqr = q3 - q1
    bound1 = q1 - (1.5 * iqr)
    bound2 = q3 + (1.5 * iqr)
    x = [bound1, bound2]   
    return x

In [9]:
for i in data.describe():
    iqr = emissions(data[i])
    print(i)
    print(data[(data[i]<iqr[0]) | (data[i]>iqr[1])])

surgery
Empty DataFrame
Columns: [surgery, age, temperature, pulse, pain, cell, protein, outcome]
Index: []
age
     surgery  age  temperature  pulse  pain  cell  protein  outcome
3        1.0    9         39.1  164.0   4.0  48.0      7.2      2.0
9        2.0    9         38.3   90.0   3.0  40.0      6.2      1.0
13       2.0    9         38.0   92.0   3.0  37.0      6.1      2.0
16       1.0    9          NaN  128.0   4.0  53.0      7.8      2.0
23       1.0    9         38.3  130.0   4.0  50.0     70.0      1.0
39       1.0    9         39.2  146.0   NaN   NaN      NaN      2.0
41       2.0    9         39.0  150.0   NaN  47.0      8.5      1.0
55       1.0    9         38.6  160.0   3.0  38.0      NaN      2.0
74       1.0    9          NaN    NaN   NaN  37.0      4.9      2.0
75       1.0    9         39.7  100.0   3.0  48.0     57.0      3.0
82       1.0    9         38.1  100.0   4.0  36.0      5.7      1.0
103      1.0    9         38.0  140.0   3.0  39.0      5.3      1.0
109      1.0    9         38.4   84.0   3.0  36.0      6.6      2.0
135      1.0    9         38.1  136.0   1.0  33.0      4.9      2.0
191      2.0    9          NaN  100.0   1.0  37.0      4.7      1.0
212      1.0    9         38.9  120.0   3.0  47.0      6.3      1.0
227      1.0    9          NaN    NaN   NaN  45.0      6.5      1.0
229      1.0    9         38.5  120.0   1.0  35.0     54.0      1.0
244      1.0    9         38.2  124.0   3.0  47.0      8.0      1.0
252      1.0    9         38.8  124.0   3.0  50.0      7.6      2.0
255      1.0    9         38.8  184.0   1.0  33.0      3.3      2.0
262      2.0    9         38.6   88.0   NaN  35.0      5.9      1.0
275      1.0    9         38.8  150.0   3.0  50.0      6.2      2.0
287      2.0    9         39.5   84.0   NaN  28.0      5.0      1.0
temperature
     surgery  age  temperature  pulse  pain  cell  protein  outcome
20       1.0    1         39.9   72.0   4.0  46.0      6.1      1.0
44       1.0    1         35.4  140.0   4.0  57.0     69.0      3.0
54       2.0    1         40.3  114.0   3.0  57.0      8.1      3.0
75       1.0    9         39.7  100.0   3.0  48.0     57.0      3.0
80       1.0    1         36.4   98.0   3.0  47.0      6.4      2.0
91       2.0    1         40.3  114.0   3.0  57.0      8.1      2.0
99       2.0    1         39.6  108.0   4.0  59.0      8.0      1.0
118      1.0    1         36.5   78.0   3.0  34.0     75.0      1.0
141      2.0    1         36.0   42.0   NaN  64.0      6.8      2.0
238      2.0    1         36.1   88.0   3.0  45.0      7.0      3.0
251      2.0    1         36.6   42.0   4.0  52.0      7.1      2.0
259      1.0    1         40.8   72.0   3.0  54.0      7.4      2.0
281      2.0    1         40.0   78.0   3.0  66.0      6.5      2.0
298      1.0    1         36.5  100.0   3.0  50.0      6.0      1.0
pulse
     surgery  age  temperature  pulse  pain  cell  protein  outcome
3        1.0    9         39.1  164.0   4.0  48.0      7.2      2.0
41       2.0    9         39.0  150.0   NaN  47.0      8.5      1.0
55       1.0    9         38.6  160.0   3.0  38.0      NaN      2.0
255      1.0    9         38.8  184.0   1.0  33.0      3.3      2.0
275      1.0    9         38.8  150.0   3.0  50.0      6.2      2.0
pain
     surgery  age  temperature  pulse  pain  cell  protein  outcome
11       2.0    1         39.1   72.0   1.0  50.0      7.8      1.0
29       2.0    1         37.7   48.0   1.0  45.0     76.0      1.0
33       1.0    1         38.2   64.0   1.0  49.0      8.6      1.0
47       2.0    1         37.5   48.0   1.0  37.0      6.5      1.0
49       2.0    1         37.2   84.0   1.0  73.0      5.5      2.0
60       2.0    1         37.8   48.0   1.0  37.0      6.7      1.0
77       2.0    1         38.7   52.0   1.0  33.0     77.0      1.0
85       2.0    1         38.0   54.0   1.0  45.0      6.2      1.0
89       2.0    1         38.3   42.0   1.0  38.0     61.0      1.0
92       2.0    1         38.8   50.0   1.0  42.0      6.2      1.0
122      2.0    1         38.7   40.0   1.0  39.0     62.0      1.0
124      2.0    1         37.6   48.0   1.0  37.0      5.5      3.0
135      1.0    9         38.1  136.0   1.0  33.0      4.9      2.0
138      2.0    1         38.0   56.0   1.0  42.0     71.0      1.0
149      2.0    1         38.7   48.0   1.0  34.0     63.0      1.0
159      2.0    1          NaN    NaN   1.0  44.0      7.5      1.0
166      1.0    1         38.3   40.0   1.0  43.0      5.9      1.0
170      2.0    1         37.5   44.0   1.0  35.0      7.2      1.0
183      2.0    1         37.8   56.0   1.0  44.0     68.0      1.0
184      2.0    1         38.2   68.0   1.0  43.0     65.0      1.0
188      1.0    1         38.5   60.0   1.0  33.0     53.0      1.0
189      1.0    1         38.3   60.0   1.0  30.0      6.0      1.0
191      2.0    9          NaN  100.0   1.0  37.0      4.7      1.0
195      2.0    1         38.0   44.0   1.0  42.0     64.0      1.0
199      2.0    1         38.5   60.0   1.0  49.0     59.0      1.0
200      1.0    1         37.3   48.0   1.0  40.0      6.6      1.0
209      2.0    1         37.5   44.0   1.0  43.0     51.0      1.0
214      2.0    1         38.6   56.0   1.0  40.0      7.0      1.0
224      1.0    1         38.8   50.0   1.0  38.0     58.0      1.0
229      1.0    9         38.5  120.0   1.0  35.0     54.0      1.0
236      2.0    1         38.2   42.0   1.0  36.0      6.9      1.0
237      2.0    1         37.9   54.0   1.0  47.0     54.0      1.0
255      1.0    9         38.8  184.0   1.0  33.0      3.3      2.0
256      1.0    1         37.5   72.0   1.0  35.0     65.0      3.0
278      2.0    1         37.8   40.0   1.0  37.0      6.8      1.0
280      1.0    1         38.6   48.0   1.0  36.0     67.0      1.0
284      2.0    1         38.5   54.0   1.0  40.0      6.8      1.0
290      2.0    1         38.6   45.0   1.0  43.0     58.0      1.0
294      2.0    1         38.5   40.0   1.0  37.0     67.0      1.0
cell
     surgery  age  temperature  pulse  pain  cell  protein  outcome
4        2.0    1         37.3  104.0   NaN  74.0      7.4      2.0
144      1.0    1         37.1   84.0   4.0  75.0     81.0      3.0
151      1.0    1         39.3    NaN   4.0  75.0      NaN      2.0
protein
Empty DataFrame
Columns: [surgery, age, temperature, pulse, pain, cell, protein, outcome]
Index: []
outcome
Empty DataFrame
Columns: [surgery, age, temperature, pulse, pain, cell, protein, outcome]
Index: []

In [10]:
"""Оставляем все выбросы, из-за того что они возможны в реальной жизни, повышеная температура может быть при заболевании, повышеный пульс у нас у лошадей у которых выше температура - нормальная реакция организма, повышены эритроциты могут быть при врожденной паталогии сердца или легких """

'Оставляем все выбросы, из-за того что они возможны в реальной жизни, повышеная температура может быть при заболевании, повышеный пульс у нас у лошадей у которых выше температура - нормальная реакция организма, повышены эритроциты могут быть при врожденной паталогии сердца или легких '

In [11]:
print(data.isna().sum())

surgery         1
age             0
temperature    60
pulse          24
pain           44
cell           29
protein        33
outcome         1
dtype: int64

In [12]:
data.groupby(['surgery', 'outcome']).mean()

                      age  temperature      pulse      pain       cell  \
surgery outcome
1.0     1.0      1.589474    38.146250  68.715909  2.988235  43.267045
        2.0      2.379310    38.187179  88.183673  3.326087  50.705882
        3.0      1.296296    38.052381  80.037037  3.333333  50.909091
2.0     1.0      1.481928    38.240278  57.448718  2.267606  42.110390
        2.0      1.421053    38.157143  84.470588  3.437500  57.722222
        3.0      1.000000    38.053846  84.625000  3.153846  50.571429

                   protein
surgery outcome
1.0     1.0      26.664368
        2.0       6.842857
        3.0      60.918182
2.0     1.0      27.934615
        2.0       6.850000
        3.0      12.371429

In [16]:
"""Заполняем пропуски средним которое агрегируем по статусу операции и исходу лечения, строку в которой нету статуса операции и исхода мы удаляем"""
data.fillna(data.groupby(['surgery', 'outcome']).transform('mean'), inplace=True)
data.dropna(inplace=True)
data.describe()

,surgery,age,temperature,pulse,pain,cell,protein,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,1.64214,38.167253,72.292556,2.922858,46.412892,24.193408,1.551839
std,0.490305,2.17730,0.656253,27.707862,0.919471,10.015793,26.503572,0.737187
min,1.000000,1.00000,35.400000,30.000000,1.000000,23.000000,3.300000,1.000000
25%,1.000000,1.00000,37.900000,48.500000,2.988235,39.000000,6.600000,1.000000
50%,1.000000,1.00000,38.187179,66.000000,3.000000,45.000000,7.500000,1.000000
75%,2.000000,1.00000,38.500000,88.183673,3.437500,50.909091,55.500000,2.000000
max,2.000000,9.00000,40.800000,184.000000,4.000000,75.000000,89.000000,3.000000

In [17]:
print(data.isna().sum())

surgery        0
age            0
temperature    0
pulse          0
pain           0
cell           0
protein        0
outcome        0
dtype: int64