In [2]:
import pandas as pd

In [8]:
raw = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', header=None)
raw.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [14]:
data = raw[[0, 1, 3, 4, 11, 18, 19, 22]]
data.head()

  0   1      3    4  11     18    19 22
0  2   1  38.50   66  4  45.00  8.40  2
1  1   1   39.2   88  4     50    85  3
2  2   1  38.30   40  3  33.00  6.70  1
3  1   9  39.10  164  4  48.00  7.20  2
4  2   1  37.30  104  ?  74.00  7.40  2